<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>Jenkins is just Amazing, Awesome and I will attend live sessions .We are learning Jenkins.Hello Fillup the list.It's done successfully.Lets begin.Bangladesh Army University of Engineering & Technology.Qadirabad Natore.We stay in Bonolota Hall.
       <img src= "https://www.alamy.com/three-red-rose-flower-buds-and-petals-from-a-vase-image247371561.html?imageid=9255C04D-392D-46B9-B966-E9B183592B28&p=22858&pn=1&searchId=9dc67526f67f33fad34040dd84200eda&searchtype=0" alt="Flower" width="500" height="600">
</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
