<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>Jenkins is just Amazing, Awesome and I will attend live sessions .We are learning Jenkins.Hello Fillup the list.It's done successfully.Lets begin.Bangladesh Army University of Engineering & Technology.Qadirabad Natore.We stay in Bonolota Hall.
       <br><img src= "https://thumbs.dreamstime.com/z/beautiful-summer-spring-meadow-blue-flowers-forget-me-nots-two-flying-butterflies-wild-nature-landscape-beautiful-182636005.jpg?w=992" alt="Flower">
<br>Its a new day and biggest day 
<br> <iframe width="560" height="315" src="https://www.youtube.com/embed/LFDrDnKPOTg?si=polWQRNFYU6KpuYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>Today is our defense.Keep us in your prayer.
<br>We have configured our project successfully.Thank you.Hello.
</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
