<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>Jenkins is just Amazing, Awesome and I will attend live sessions .We are learning Jenkins.Hello Fillup the list.It's done successfully.Lets begin.Bangladesh Army University of Engineering & Technology.Qadirabad Natore.We stay in Bonolota Hall.
       <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Forange-flower&psig=AOvVaw36YSPPgkHB2A6qC5s2eFHI&ust=1701841568866000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCMC089zL94IDFQAAAAAdAAAAABAE" alt="Girl in a jackets" width="500" height="600">
</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
